<div class="mt-8 flex flex-col ">
  <div class="flex justify-between">
    <h3 class="text-xl font-semibold">Today's Task</h3>
    <a class="text-xs text-highGray">See All</a>
  </div>
  <ul class="mt-5 space-y-4 task-list overflow-y-scroll pb-28 pr-2">
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
    <li class="flex justify-between items-center p-3 rounded-xl shadow-lg ">
      <div class="flex gap-4">
        <img
          class="size-10 rounded-lg"
          src="assets/images/welcome-banner.jpg"
          alt="task image"
        />
        <div class="flex flex-col gap-[2px]">
          <p class="text-base capitalize">UI design</p>
          <p class="text-xs">
            <span> 09:00 AM </span>
            -
            <span> 11:00 AM </span>
          </p>
        </div>
      </div>
      <a>
        <img src="assets/icons/rightArrow.svg" alt="arrow Right" />
      </a>
    </li>
  </ul>
</div>
