<div class="flex flex-col items-center justify-between h-screen pb-6">
  <img src="https://nisagroup.ir/uploads/7bdf40d40f614d9881748e034598f206.jpg" alt="welcome banner" class="w-full h-[420px]">
  <div class="flex flex-col gap-2 items-center px-10">
    <h1 class="text-4xl font-bold capitalize">Welcome to go Task</h1>
  <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est accusamus ullam corporis amet nam voluptates eveniet.</p>
  </div>

  <a class="w-[80%] !text-lg !py-8" mat-flat-button >Let's Start</a>
</div>
